/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #000;
$primary: #050023;
$secondary: #737a99;
$ternary: rgba($secondary, 0.5);
$border: #eeeeff;
$gray: #f8fafc;
$accent: #3772ff;
$red: #fc466b;
